.container{
    margin: 30px 10%;
}
a{
    text-decoration: none;
}
a:visited{
    color: #727070;
}
a:hover{
    text-decoration: underline;
}
ul.header__nav--ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.col-6{
    width: 50%;
    position: relative;
}
.table{
    position: relative;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
}
th{
    background: #727070;
    color: yellow;
}
#addForm {
    display: none;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
}
#editForm{
    width: 200px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
}
#groupNumberId {
    margin-right: 10px;
}
.peoplesAmount{
    margin: 10px 0;
}
.btn{
    width: 100px;
    background: #727070;
    color: yellow;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    background: yellow;
    color: #727070;
    cursor: pointer;
}
.addBtn{
    margin: 10px 0;
}

.createBtn{
    margin-bottom: 40px;
    margin-left: 30px;
    height: 40px;
}
.tableBtn{
    background: #727070;
    color: yellow;
    border-radius: 5px;
    border: none;
}
.tableBtn:hover{
    background: yellow;
    color: #727070;
    cursor: pointer;
}
header {
    text-align: center;
}